:root{
    --main-color: #171e4a; /*el moraito de oscuro de riwi */
    --azulClarito: #786cfc; /*un azul como moradito claro */
    --moraditoClaro: #6c5cfc; /*un morado como azulito claro */
    --rojo: #ca3120; /*un rojo*/
    --verde: #6cb464; /*... un verde */
    --grisBlanco: #dee2e6 /* como un gris blanquito*/


}

